$base-color: #fff;
$primary-color: #2a72e5;
$secondary-color: #e9edf1;

$border-color: #e6eaee;
$border-color-2: #dfe3e9;
$border-color-3: #dfe4ee;

$font-color-dark: #3a495f;
$font-clock: #354052;
$font-week-day-color: #84919e;
$font-disable-color: #c7d1d8;
$font-gray-2: #808992;
