@import 'colors';
.calendar {
  width: 100%;

  &__header {
      display: flex;
      height: 47px;
      align-items: center;
      text-align: center;
      justify-items: center;
      font-weight: 600;
      font-size: 14px;
    
      &--dark-mode {
        border-bottom: 1px solid $border-color-4;
      }
    
      &--light-mode {
        border-bottom: 1px solid $border-color-2;
      }
    

    &__navigation {
      width: 44px;
      text-align: -webkit-center;
      cursor: pointer;
    }

    &__middle {
      width: 210px;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    padding: 12px 25px;
    text-align: center;
    align-items: center;
    justify-items: center;
  }
}
