@import 'colors';

.container {
  // width: 100%;
  height: 86px;
  border-top: 1px solid $border-color-2;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__month-date {
    padding-top: 10px;
    font-size: 13px;
    align-items: left;
    justify-content: left;
    text-align: left;
    font-weight: 600;
    color: $font-gray-2;
  }

  .clock {
    display: flex;
    padding: 10px 0px;

    &__time-input {
      width: 32px;
      padding-right: 4px;
      font-size: 28px;
      font-weight: 600;
      color: $font-clock;
      text-align: right;
      border: none;
      outline: none;

      &:focus {
        border: none;
      }
      &:hover {
        border: none;
      }
    }

    &__arrow-box {
      width: 10px;
      padding-right: 10px;
    }

    &__selector {
      position: relative;
      width: 60px;
      height: 30px;
      appearance: none;
      -webkit-appearance: none;
      border-radius: 4px;
      padding-right: 0.5em;
      margin-top: 5px;
      border: 1px solid $border-color-3;

      .select {
        position: absolute;
        font-size: 13px;
        font-weight: 600;
        display: flex;
        border: none;
        outline: none;
        overflow: hidden;
        width: 60px;
        padding: 6px 8px 6px 10px;
      }
    }
  }
}
