@import 'colors';

.date-time-selector {
  position: absolute;
  z-index: 10;
  width: 300px;
  border-radius: 4px;
  border: 1px solid $border-color;
  background-color: $base-color;

  &__actions {
    padding: 15px 45px 15px 45px;
    display: flex;
    border-top: 1px solid $border-color-2;
  }
}
