@import 'colors';

.date-time-selector {
  position: absolute;
  z-index: 1;
  width: 300px;
  border-radius: 4px;
  
  &--light-mode {
    border: 1px solid $border-color;
    background-color: $base-color;
  }
  
  &--dark-mode {
    background-color: $dark-mode-bg;
    border: solid 1px $border-color-4;
  }

  &__actions {

    &--light-mode {
      border-top: 1px solid $border-color;
      padding: 15px 45px 15px 45px;
    display: flex;
    }
    
    &--dark-mode {
      border-top: solid 1px $border-color-4;
      padding: 15px 45px 15px 45px;
    display: flex;
    }
  }
}
