.react-calendar {
    min-width: 300px;
    height: 304px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.125em;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    right: 160px;
      position: relative;
  }
  .react-calendar--doubleView {
    /* width: 700px; */
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  
  .react-calendar__navigation__next-button {
    display: flex;
    justify-content:center;
    align-items: center;
  }
  .react-calendar__navigation__prev-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .react-calendar__navigation__next2-button {
    display: none;
  }
  .react-calendar__navigation__prev2-button {
    display: none;
  }
  
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    height: 47px;
   display: flex;
    /* border-bottom: solid 1px #535353; */
    /* margin-bottom: 1em; */
  }
  .react-calendar__viewContainer{
    height: 100%;
    padding: 12px 20px 19px 20px;
  }
  .react-calendar__navigation__label__labelText, 
  .react-calendar__navigation__label__labelText--from {
    font-weight: 600;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    /* background-color: #2a72e5; */
  }
  
  .react-calendar__navigation__prev2-button [disabled] {
  
  }
  .react-calendar__navigation button[disabled] {
  
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    height: 28px;
    color: #777777;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    font-size: 10px;
  }
  .react-calendar__month-view__weekNumbers {
    font-weight: bold;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
    
  }
  
  .react-calendar__month-view__days {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .react-calendar__month-view__days__day--weekend {
    /* color: #d10000; */
  }
  .react-calendar__month-view__days__day--neighboringMonth:disabled {
    font:14px;
    color: #86929d;
    cursor:auto;
    /* color: #757575; */
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    /* padding: 2em 0.5em; */
  }
  .react-calendar__navigation__label {
    font-size: 14px;
  }
  .react-calendar__year-view__months {
    height: 230px;
  }
  .react-calendar__decade-view__years{
    height: 230px;
  }
  .react-calendar__tile {
    display: flex;
    /* max-width: 100%; */
    text-align: center;
    align-items: center;
    justify-content: center;
    background: none;
    font-size: 14px;
    height: 35px;
    width: 30px;
  }
  .react-calendar__tile:disabled {
    /* background-color: #f0f0f0; */
    color: #c7d1d8;
    cursor:auto;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #2a72e5;
    color: white;
    border-radius: 50%;
    /* height: 28px; */
    /* width: 28px; */
  }
  .react-calendar__tile--now {
    /* background: #ffff76; */
    color: #D0021B;
  }
  
  .react-calendar__year-view .react-calendar__tile:enabled:hover,
  .react-calendar__year-view .react-calendar__tile:enabled:active {
    border-radius: 3px;
  }
  
  .react-calendar__decade-view .react-calendar__tile:enabled:hover,
  .react-calendar__decade-view .react-calendar__tile:enabled:active  {
    border-radius: 3px;
  }
  
  
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #2a72e5;
  }
  .react-calendar__tile--hasActive {
    /* background: #76baff; */
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    /* background: #a9d4ff; */
  }
  .react-calendar__tile--active {
    /* background: #006edc; */
    color: #D0021B;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    /* background: #2a72e5;
    color: white; */
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
   
  }