::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

.gnb_mobile_header {
  max-width: 100%;
  background-color: #2775ff;
  display: flex;
  /* touch-action: none; */
}

.gnb_mobile_menu_wrap {
  display: flex;
  overflow: scroll;
  /* touch-action: none; */
}

.gnb_mobile_menu {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  color: #ffffff;
  counter-increment: gallery-cell;
  /* touch-action: none; */
}
